@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
.cajaT{

    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif
    
    
}
.caja{
    height: 100px;
    position: relative;
    
}

.tabla{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: 'Scheherazade New', serif;
}
.imagenA{
    background-size: cover;
    position:relative;
    height: 100px;
    width: 100px;
   
}
body{
    background-image: url("imagenes/tigre.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

   
}

.pin{
    margin:0 15cm;
    text-align: center;
    border-radius: 2cm;
    border: rgb(255, 255, 255);
    color: white;
    background: rgb(39,20,219);
background: linear-gradient(90deg, rgba(39,20,219,0.5844538498993348) 75%, rgba(91,85,148,0.267927239255077) 100%, rgba(213,213,213,0.5116247182466737) 100%); 
}
.baby{
    margin:0 15cm;
    text-align: center;
    color: white;
    background-color: blanchedalmond;
    border-radius: 2cm;
    border: black;
    margin-top: 4cm;
    background: rgb(39,20,219);
    background: linear-gradient(90deg, rgba(39,20,219,0.5844538498993348) 75%, rgba(91,85,148,0.267927239255077) 100%, rgba(213,213,213,0.5116247182466737) 100%); 
}
.tittle{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Lato', sans-serif
}




